* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: #1F271B;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    background-color: #1F271B;
    height: 100vh;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    /* background-color: aquamarine; */
    height: 100%;
    width:100%;
    /* overflow: auto; */

    position: relative;
    /* border: 5px solid salmon; */
}

#prevButton, #nextButton
{
    /* padding:1rem; */
    font-size: 3rem;
    margin: 1rem;
    z-index: 300;
    background-color: rgba(100,100,100,0.5);
    width:80px;
    height:80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7F3E3;
    aspect-ratio: 1/1;
    text-decoration: none;

    transition: all 300ms ease-in;
    transform: scale(100%);

    /* margin-inline: 1.5rem; */
}

#prevButton:hover, #prevButton:active, #nextButton:hover, #nextButton:active
{
    transform: scale(115%);
}

.card {
    height: fit-content;
    width: 325px;
    border: 2px solid #BC8034;
    border-radius: 16px;
    background-color: transparent;   
}

.cardInfo {
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#394648, black);
    border-top-left-radius: 1rem/* 16px */;
    border-top-right-radius: 1rem/* 16px */;
}

.nickName {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #F7F3E3;
}

.fName, .lName {
    color: rgb(209 213 219);
}

.hp {
    background-color: #F7F3E3;
    color: #394648;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1rem;
    border-radius: 9999px;
    width: auto;
    height: 3rem;
}

.characteristics {
    display: flex;
    flex-flow: row;
    gap: 2;
    padding: 1rem;
    justify-content: center;
    background-color: #510D0A;
    border-width: 2px;
    color: #F7F3E3;
}

.photo {
    height: 150px;
    width: 320px;
    background-image: linear-gradient(#394648, black);
    display: flex;
    justify-content: center;
}

.img {
    height: 150px;
    width: 100px;
    background-image: linear-gradient(#394648, black);
    object-fit: contain;
    border-width: 2px;
    border-color: #510D0A;
}

.powerDetails {
    padding: 1rem;
    background-image: linear-gradient(#510D0A, black);
    border-width: 0.5rem;
    border-color: rgb(251, 4, 4);
    border-bottom-right-radius: 1rem/* 16px */;
    border-bottom-left-radius: 1rem/* 16px */;
}

.specialAttacks {
    display: flex;
    justify-content: space-between;
    color: #F7F3E3;
    margin-bottom: 1rem;
}

.Attacks {
    text-decoration: underline;
    font-size: 1rem/* 20px */;
    line-height: 1.25rem/* 28px */;
}

.weaknesses {
    display: flex;
    color: #F7F3E3;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.weak, .resstam {
    padding-bottom: 0.5rem;
}

.weakness, .damage, .resistance, .stamina {
    text-decoration: underline;
    font-size: 1rem/* 20px */;
    line-height: 1.25rem/* 28px */;
}

.creator {
    text-align: center;
    color: #F7F3E3;
    display: flex;
    flex-flow: row;
    padding: 4px;
    gap: 2;
    justify-content: center;
}

.options {
    background-color: rgba(100,100,100,0.5);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    font-size: x-large;
    height: 300px;
    padding: 1rem;
    margin-right: 10px;
    border-radius: 1rem;
}

.download_btn {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-flow: row;
    font-size: x-large;
    padding: 8px;
    border-radius: 2rem;
    background-color: #F7F3E3;
}

.like_btn {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-flow: row;
    font-size: x-large;
    padding: 8px;
    border-radius: 2rem;
    background-color: #F7F3E3;
}

.dislike_btn {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-flow: row;
    font-size: x-large;
    padding: 8px;
    border-radius: 2rem;
    background-color: #F7F3E3;
}

.email_btn {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-flow: row;
    font-size: x-large;
    padding: 8px;
    border-radius: 2rem;
    background-color: #F7F3E3;
}


.like_btn:hover, .download_btn:hover, .email_btn:hover, .dislike_btn:hover {
    color: #BC8034;
    cursor: pointer;
}

.like_btn{
    color: #BC8034;
    transition: .4s;
}



.box {
    height: fit-content;
    width: fit-content;
    aspect-ratio: 2.5/3.5;
    position: absolute;
    /* border: 2px solid goldenrod; */
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.active 
{
    z-index: 150;
}

.share_icons {
    position: absolute;
    left: -25%;
    top: 37.5%;
    transform: translateX(-50%);
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    transition: all 0.3s ease;

}
